{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manvendra Rajpoot - Portfolio</title>
    <meta
      name="description"
      content="Manvendra Rajpoot is a full-stack developer with 2+ years of experience."
    />
    <link rel="author" href="https://www.alzywelzy.com" />
    <meta name="author" content="Manvendra Rajpoot" />
    <meta
      name="keywords"
      content="Manvendra Rajpoot,Portfolio,Developer,Full-stack,alzywelzy,Alzy Welzy,welzyalzy,Welzy Alzy"
    />
    <meta name="robots" content="index, follow" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'img/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'img/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'img/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mediaqueries.css' %}" />
  </head>
  <body>
    <nav id="desktop-nav">
      <div class="logo">Manvendra Rajpoot</div>
      <div>
        <ul class="nav-links">
          <li><a href="#about">About</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <nav id="hamburger-nav">
      <div class="logo">Manvendra Rajpoot</div>
      <div class="hamburger-menu">
        <div class="hamburger-icon" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-links">
          <li><a href="#about" onclick="toggleMenu()">About</a></li>
          <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
          <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
          <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
        </div>
      </div>
    </nav>
    <section id="profile">
      <div class="section__pic-container">
        <img
          src="{% static 'img/profile.jpg' %}"
          alt="Manvendra Rajpoot profile picture"
          class="profile-pic"
        />
      </div>
      <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h1 class="title">Manvendra Rajpoot</h1>
        <p class="section__text__p2">Full Stack Developer</p>
        <div class="btn-container">
          <button
            class="btn btn-color-2"
            onclick="window.open('./assets/CV.pdf')"
          >
            Download CV
          </button>
          <button class="btn btn-color-1" onclick="location.href='./#contact'">
            Contact Info
          </button>
        </div>
        <div id="socials-container">
          <img
            src="{% static 'img/linkedin.png' %}"
            alt="My LinkedIn profile"
            class="icon"
            onclick="location.href='https://linkedin.com/in/AlzyWelzy'"
          />
          <img
            src="{% static 'img/github.png' %}"
            alt="My Github profile"
            class="icon"
            onclick="location.href='https://github.com/AlzyWelzy'"
          />
        </div>
      </div>
    </section>
    <section id="about">
      <p class="section__text__p1">Get To Know More</p>
      <h1 class="title">About Me</h1>

      <div class="about-details-container">
        <div class="about-containers">
          <div class="details-container">
            <img
              src="{% static 'img/experience.png' %}"
              alt="Experience icon"
              class="icon"
            />
            <h3>Experience</h3>
            <p>2+ years <br />Full Stack Development</p>
          </div>
          <div class="details-container">
            <img
              src="{% static 'img/education.png' %}"
              alt="Education icon"
              class="icon"
            />
            <h3>Education</h3>
            <p>
              Intermediate in Maths with Science<br />Bachelor's in Computer
              Application
            </p>
          </div>
        </div>
        <div class="text-container">
          <p>
            After completing my 12th grade with a specialization in PCM, I
            decided to follow my passion for programming by choosing BCA as my
            major, where I honed my skills in full-stack web development. My
            favorite part of programming is the problem-solving aspect. I love
            the feeling of finally figuring out a solution to a problem. My core
            stack is Django, Flask, FastAPI, and PostgreSQL. I am also familiar
            with TypeScript and React. I am always looking to learn new
            technologies. I am currently looking for a full-time position as a
            software developer.
          </p>
          <br />
          <p>
            When I'm not coding, I enjoy playing video games, watching movies,
            and reading comics. I also enjoy learning new things. I am currently
            learning about finance and history. I'm also learning how to swim.
          </p>
        </div>
      </div>

      <img
        src="{% static 'img/arrow.png' %}"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#experience'"
      />
    </section>
    <section id="experience">
      <p class="section__text__p1">Explore My</p>
      <h1 class="title">Experience</h1>
      <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container">
            <h2 class="experience-sub-title">Frontend Development</h2>
            <div class="article-container">
              <article>
                <div>
                  <p class="skills">HTML</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">CSS</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">JavaScript</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">HTMX</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">Tailwind CSS</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">TypeScript</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">Figma</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">SASS</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">jQuery</p>
                </div>
              </article>
            </div>
          </div>
          <div class="details-container">
            <h2 class="experience-sub-title">Backend Development</h2>
            <div class="article-container">
              <article>
                <div>
                  <p class="skills">Django</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">Flask</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">FastAPI</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">PostgreSQL</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">Cassandra</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">Git</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">Docker</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">Kubernetes</p>
                </div>
              </article>
              <article>
                <div>
                  <p class="skills">AWS & GCP</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <img
        src="{% static 'img/arrow.png' %}"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#projects'"
      />
    </section>
    <section id="projects">
      <p class="section__text__p1">Browse My Recent</p>
      <h1 class="title">Projects</h1>
      <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="{% static 'img/project-1.jpg' %}"
                alt="Project 1"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Articify</h2>
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://github.com/AlzyWelzy/Articify'"
              >
                Github
              </button>
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://articify.alzywelzy.com/'"
              >
                Live Demo
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="{% static 'img/project-2.jpg' %}"
                alt="Project 2"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Epiphora</h2>
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://github.com/AlzyWelzy/Epiphora'"
              >
                Github
              </button>
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://epiphora.alzywelzy.com/'"
              >
                Live Demo
              </button>
            </div>
          </div>
          <div class="details-container color-container">
            <div class="article-container">
              <img
                src="{% static 'img/project-3.jpg' %}"
                alt="Project 3"
                class="project-img"
              />
            </div>
            <h2 class="experience-sub-title project-title">Mozzify</h2>
            <div class="btn-container">
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://github.com/AlzyWelzy/Mozzify'"
              >
                Github
              </button>
              <button
                class="btn btn-color-2 project-btn"
                onclick="location.href='https://mozzify.alzywelzy.com/'"
              >
                Live Demo
              </button>
            </div>
          </div>
        </div>
      </div>
      <img
        src="{% static 'img/arrow.png' %}"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#contact'"
      />
    </section>
    <section id="contact">
      <p class="section__text__p1">Get in Touch</p>
      <h1 class="title">Contact Me</h1>
      <div class="contact-info-upper-container">
        <div class="contact-info-container">
          <img
            src="{% static 'img/email.png' %}"
            alt="Email icon"
            class="icon contact-icon email-icon"
          />
          <p>
            <a href="mailto:manvendra@alzywelzy.com"
              >manvendra.raj.2002@gmail.com</a
            >
          </p>
        </div>
        <div class="contact-info-container">
          <img
            src="{% static 'img/linkedin.png' %}"
            alt="LinkedIn icon"
            class="icon contact-icon"
          />
          <p><a href="https://www.linkedin.com/in/alzywelzy">LinkedIn</a></p>
        </div>
      </div>
    </section>
    <footer>
      <nav>
        <div class="nav-links-container">
          <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <p>Copyright &#169; {{year}} Manvendra Rajpoot. All Rights Reserved.</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
